<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.11" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.DataProtection" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Routing" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.WebEncoders" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="2.1.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="2.1.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.4" targetFramework="net461" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Toolkit" version="5.1.1" targetFramework="net461" />
  <package id="Microsoft.Toolkit.Parsers" version="5.1.1" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net461" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net461" />
  <package id="Plugin.Multilingual" version="1.0.2" targetFramework="net461" />
  <package id="RatingAndSwap" version="4.3.0.1" targetFramework="net461" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="net461" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1.1" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="4.4.2" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="TMDbLib.Core2" version="1.0.0" targetFramework="net461" />
  <package id="Validation" version="2.2.8" targetFramework="net461" />
  <package id="Xamarin.Auth" version="1.6.0.4" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.6.0.344457" targetFramework="net461" />
  <package id="Xamarin.Plugin.FilePicker" version="2.0.135" targetFramework="net461" />
</packages>