<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="12" android:versionName="1.1.2" package="com.lk.MovieArchive" android:installLocation="preferExternal" android:hardwareAccelerated="true">
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
	<uses-sdk android:targetSdkVersion="29" android:minSdkVersion="23" />
	<application android:allowBackup="true" android:label="MovieArchive.Android" android:icon="@mipmap/launcher_foreground" android:supportsRtl="true">
    <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />
    <meta-data
        android:name="com.google.android.gms.ads.AD_MANAGER_APP"
        android:value="true"/>
    <meta-data
         android:name="com.google.android.gms.ads.ca-app-pub-APPLICATION_ID"
         android:value="ca-app-pub-3165008211020391~8747442659"/>

  </application>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>